# EditorConfig is awesome: http://EditorConfig.org

root = true

[*]
indent_size = 4
indent_style = tab
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.md]
trim_trailing_whitespace = false

# Matches the exact files either package.json, .travis.yml or bower.json
[{package.json,.travis.yml,.bower.json}]
indent_style = space
indent_size = 2
