<div class="page-header">
	<h2>{{name}}</h2>
</div>

<div class="table-responsive">
	<input ng-model="query" type="text" class="form-control" placeholder="Search">

	<table class="table table-hover table-striped">

		<thead>
			<tr>
				<th>File</th>
				<th>Maintainability</th>
				<th>Lint Errors</th>
			</tr>
		</thead>

		<tbody>
			<tr ng-repeat="path in paths | filter:query">
				<td><a href="#/projects/{{name}}/complexity-reports/{{path}}/latest">{{path}}</a></td>
				<td>0</td>
				<td>0</td>
			</tr>
		</tbody>

	</table>
</div>
